@import "variables";

.infoWrapper {
  width: 500px;
  text-align: left;
  padding: 75px 10px;

  &.hidden {
    display: none;
  }

  .infoContainer > div {
    padding: 10px 0;
  }

  .positiveMentions {
    color: $green;
  }

  .negativeMentions {
    color: $red;
  }
}