@import "variables";

.wordCloudWrapper {
  width: 100%;
  padding: 20px;

  .wordCloudContainer {
    margin: auto;
    max-width: 1000px;

    svg {
      max-height: 700px;
    }
  }

  span {
    padding: 2px;
    color: $grey;
    display: inline-block;
  }
}